
:root {
    --cols: 25;
    --rows: 25;
    --box-size: calc(80vh / var(--cols));
}

.clue {
    background-color: transparent;
    width: 96%;
    resize: none;
    overflow: auto;
    color: black;
    margin-left: 2px;
    border-color: #125f08;
    caret-color: transparent;
    border-radius: 5px;
}

.clueheader {
    margin: 5px;
    color: darkgreen;
}

.cluecont {
    border-radius: 5px;
    grid-column: 2;
    background-color: rgb(193, 193, 193);
    width: 500px;
    height: 40vh;
    border-bottom: 10px;
    margin-bottom: 50px;
}

.clue-list-down,
.clue-list-across{
    border-radius: 5px;
    grid-column: 2;
    background-color: rgb(193, 193, 193);
    overflow-y: auto;
    box-sizing: border-box;
    width: 500px;
    height: 40vh;
    margin-right: 40px;
}

.clue-list-across {
    grid-row: 2;
}

.clue-list-down {
    grid-row: 1;
}

.full-container {
  display: grid;
  grid-template-columns: 90vh 1fr;
  grid-template-rows: 1fr 1fr;
  height: 90vh; 
}

.grid-container {
  border-radius: 5px;
  align-items: center;
  grid-area: grid;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: inline-grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  background-color: #125f08;
  padding: 10px;
  width: 80vh;
  height: 80vh;
  margin: 5px;
}

.square-container {
  background-color: rgb(193, 193, 193);
  outline: 1px solid rgba(0, 0, 0, 0.8);
  height: var(--box-size);
  width: var(--box-size);
  z-index: 0;
  position: relative;
  font-size: calc(var(--box-size) / 3);
  color: black;
  text-indent: 2px;
}

.square {
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: calc(var(--box-size) - 10px);
  text-align: center;
  vertical-align: middle;
  line-height: var(--box-size);
  color:black
}

.blocked {
  background-color: black;
  outline: 1px solid rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blocked:focus {
  background-color: dimgray;
}